footer {
    display: block;
    width: 100;
    height: 20px;
    align-content: center;
}

footer .copy {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: mistyrose;
}