login {
    height: 100%;
    display: flex;
}

.loginform-wrapper {
    border-radius: 7px;
    background: linear-gradient(270deg, rgb(121, 203, 207), rgb(17, 157, 175));
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-brand {
    margin: 0;
    padding: 0px;
}

.loginform {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.loginform-wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.sidebar-brand img {
    width: 80px;
    height: 80px;
    border: solid 2px #FFF;
    border-radius: 15px;
}

.loginform-wrapper button {
    width: 100%;
    border: none;
    background: azure;
    color: black;
}

.loginform-wrapper button:hover {
    color: darkgray;
}

.loginform-wrapper a {
    color: aliceblue;
}

.loginform-wrapper a:hover {
    color: darkgray;
}

.loginform-wrapper label {
    color: aliceblue;
}