<!DOCTYPE html>

<!-- lang, ajuda os buscadores a indexar a página -->
<html lang="en">

<head>
    <!-- cinjunto de caracteres -->
    <meta charset="UTF-8">
    <!--  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- permite a página se adaptar e manter a escala quando a página é redmensionada -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">

    <title>2⁴ Finanças</title>
</head>

<body class="corpo">
    <main class="corpo-principal">
        <section class="formDados">

            <h1>Cadastro de usuário</h1>

            <form class="formulario" onsubmit="return cadastra()">
                <fieldset class="quadro-dados">

                    <legend class="teste">Formulário de cadastro</legend>

                    <label for="fnome">Nome completo</label>
                    <input type="text" name="" id="fnome" required placeholder="Ex:Maria josé das dores">

                    <label for="fmail">E-mail</label>
                    <input type="email" name="" id="fmail" required placeholder="fulano@gmial.com">

                    <label for="fCPF">CPF</label>
                    <input type="text" name="" id="fCPF" required placeholder="xxx.xxx.xxx-xx">

                    <label for="fnascimento">Data de nascimento</label>
                    <input type="date" name="" id="fnascimento" required>

                    <label for="fsenha">Senha</label>
                    <input type="password" name="" id="fsenha">

                    <label for="fconfsenha">Confirme sua Senha</label>
                    <input type="password" name="" id="fconfsenha">
                    <span id="alerta" style="color: #FFF;"></span>

                    <button type="submit" class="botao-form" id="botaoEnvio">Cadastrar</button>

                </fieldset>
            </form>
        </section>

        <section class="descricao">

            <div>

                <img src="../imgs/LogoBanco1.png" alt="Logo do banco genérico" class="imgBanco">

            </div>

            <p>

                Bem-vindo(a)! <br> Por favor, preencha todos os dados de acordo com o que é requisitado no Formulário para que seja feita a criação da sua conta com sucesso

            </p>

        </section>
    </main>
    <script src="../js/cadastro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
</body>

</html>