<!DOCTYPE html>

<!-- lang, ajuda os buscadores a indexar a página -->
<html lang="en">

<head>
    <!-- cinjunto de caracteres -->
    <meta charset="UTF-8">
    <!--  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- permite a página se adaptar e manter a escala quando a página é redmensionada -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">

    <title>2⁴ Finanças</title>
</head>

<body>
    <main class="corpo-principal">
        <section class="formDados">
            <h1>Criação de conta</h1>

            <fieldset class="quadro-dados">

                <legend class="teste">Formulário de cadastro</legend>

                <div>
                    <form onsubmit="return cadastra()">
                        <div class="form-group">
                            <label for="fnome">Nome Completo</label>
                            <input type="text" class="form-control" id="nomec" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label for="fmail">E-mail</label>
                            <input type="email" class="form-control" id="fmail" aria-describedby="emailHelp" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <label for="fCPF">CPF</label>
                            <input type="text" class="form-control" id="fCPF" placeholder="CPF">
                        </div>
                        <div class="form-group">
                            <label for="fnascimento">Data de Nascimento</label>
                            <input type="date" class="form-control" id="fnascimento" placeholder="Data de Nascimento">
                        </div>
                        <div class="form-group">
                            <label for="fsenha">Senha</label>
                            <input type="password" class="form-control" id="fsenha" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label for="fconfsenha">Confirme sua Senha</label>
                            <input type="password" class="form-control" id="fconfsenha" placeholder="Confirme sua Senha">
                        </div>

                        <div>
                            <button type="submit" class="botao-form">Cadastrar</button>
                        </div>
                    </form>
                </div>

            </fieldset>

        </section>

        <section class="descricao">
            <div>
                <img src="../imgs/LogoBanco1.png" alt="Logo do banco genérico" class="imgBanco">
            </div>
            <p>
                Bem-vindo(a)! <br> Por favor, preencha todos os dados de acordo com o que é requisitado no Formulário para que seja feita a criação da sua conta com sucesso
            </p>
        </section>
    </main>

    <script src="../js/cadastro.js"></script>

</body>

</html>